<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Ionic Camera Firebase 003</h2>
  <p>
    This starter project comes with simple tabs-based layout for apps
    that are going to primarily use a Tabbed UI.
  </p>
  <p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p>
<div style="display:flex;">

  <button ion-button (click)="capture()"> Take Picture 3</button>

</div>
Latest Picture:
<img [src]="base64Image" *ngIf="base64Image" width="150" height="150"/>
<p>{{errorMessage}}</p>
</ion-content>
